*{
    font-family: 'Montserrat', sans-serif;
}


.event-list {
    width: 80%;
    margin: 0 auto;
    }
    
    .event-list h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    }
    
    .event-list h3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    }
    
    .event-list button {
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 1rem;
    margin-bottom: 100px;

    }
    
    .event-list button:hover {
    background-color: #5b33c6;
    }
    
    .event-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    }
    
    .event-list li {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 300px;
    height:350px;
    
    
    }
    
    .event-list img {
    width: 65%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    align-items: center;
    align-items: bottom;
    border: 1px solid #ddd;

    }
    .event-list ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        
        
        }

         

        